/* FONTS */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?368r5a');
  src:  url('../fonts/icomoon.eot?368r5a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?368r5a') format('truetype'),
    url('../fonts/icomoon.woff?368r5a') format('woff'),
    url('../fonts/icomoon.svg?368r5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}


@font-face {
    font-family: 'veneerregular';
    src: url('../fonts/veneer-webfont.eot');
    src: url('../fonts/veneer-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/veneer-webfont.woff') format('woff'),
         url('../fonts/veneer-webfont.ttf') format('truetype'),
         url('../fonts/veneer-webfont.svg#veneerregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


/* SASS VAR */

$white: #fff;
$blue: #0072ce;
$lightblue: #58cae7;
$pink: #ef008c;
$red: #d22630;
$lightgray: #d9d9d6;
$black: #555555;
$green: #00843d;
$veneer: "veneerregular", Helvetica, Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



/* GENERAL */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  border: 0;
  height: 2px;
  margin: 1.4rem 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, $blue, $blue, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, $blue, $blue, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, $blue, $blue, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, $blue, $blue, #f0f0f0);
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-size: 14px;
  outline: none;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:focus {outline:none;} ::-moz-focus-inner {border:0;}

html,
body {
   width: 100%;
   height: 100%;
}

.hidden {
    display: none !important;
}

.resp-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* GRID */

.grid-container {
  width: 100%;
  max-width: 1200px;
}

.marg-30 {
  margin: 30px 0;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col'] {
  float: left;
  min-height: 1px;
  width: 100%;
  padding: 0 20px;
}

// .col-1 {
//   width: 16.66%;
// }
// .col-2 {
//   width: 33.33%;
// }
// .col-3 {
//   width: 50%;
// }
// .col-4 {
//   width: 66.664%;
// }
// .col-5 {
//   width: 83.33%;
// }
// .col-6 {
//   width: 100%;
// }

/* TYPOGRAPHY */

h1, h2, p .firstletter {
  font-family: $veneer;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

h1 {
  line-height: 110%;
  font-size: 16vw;
  margin: 0;
  color: $white;
}

h3 {
  color: $white;
  margin-bottom: 5px;
  font: {
    weight: normal;
    size: 1.5rem;
  }
}

h2 {
  color: $blue;
  font-size: 2.4rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

p {
  line-height: 1.6;
  margin-top: 0;
}

p .firstletter {
  float: left;
  color: $lightblue;
  font-size: 5.25rem;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
}

.intro {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.nosto {
  margin: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
}

.line {
  display: block;
  background-image: url(../img/quote.svg);
  margin: 15px 0;
  width: 100px;
  height: 17px;
}



/* HEADER */

header {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../img/intro-kuva.jpg');
  // background-position: center center;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 20px solid $white;
}

.logo {
  position: fixed;
  top: 32px;
  left: 35px;
  width: 130px;
}

.main-title {
  position: absolute;
  bottom: 15px;
  margin-left: 15px;
}

/* NAV */

#menu {
  position: fixed;
  top: 30px;
  right: 15px;
  font-size: 1.5rem;
  color: $blue;
  z-index: 100;
  &:hover {
    color: $lightblue;
  }
}

.btn-open:after {
  content: "\e9bd";
  font-family: "Icomoon";
}

.btn-close:after {
  content: "\ea0f";
  font-family: "Icomoon";
  font-size: 1.3rem;
}

.overlay {
	display: none;
	position: fixed;
	top:0;
  left: 0;
	height: 100%;
	width: 100%;
	background: transparentize($white, 0.2);
	z-index: 99;
  // transition: background 3s;
}

.wrap {
	text-align: center;
	margin-top: 60px;
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

.wrap a {
  color: $black;
  font-size: 1.2rem;
  line-height: 1.8;
	transition: all .2s linear 0s;
}

.wrap a:hover {
	font-weight: bold;
  cursor: pointer;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
  p .firstletter {
    padding-top: 8px;
  }
}

@media only screen and (min-width: 580px) {
  .col {
    padding-right: 15%;
  }
}

@media only screen and (min-width: 768px) {
  .no-showing {
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease-in-out;
  }
  .showing {
    opacity: 1;
    transform: translateY(0px);
  }
  section {
    margin-top: 50px;
  }
  header {
    border-width: 30px;
  }
  [class*='col'] {
    padding: 0 90px 0 60px;
  }
  .columns {
    -moz-columns: 18rem;
    -webkit-columns: 18rem;
    columns: 18rem;
    -moz-column-gap: 2.5rem;
    -webkit-column-gap: 2.5rem;
    column-gap: 2.5rem;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-rule: 1px dotted $lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px dotted $lightblue; /* Firefox */
    column-rule: 1px dotted $lightblue;
  }
  .logo {
    top: 60px;
    left: 60px;
    width: 160px;
  }
  .main-title {
    margin-left: 30px;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    margin-bottom: 0;
  }
  p:not(:nth-child(1)):not(:nth-child(2)) {
    text-indent: 25px;
  }
  #menu {
    top: 60px;
    right: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .main-title {
    bottom: -37px;
    font-size: 11vw;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 11rem;
  }
}

@media only screen and (min-width: 1400px) {
  .grid-container {
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
}
